In [46]:
#Import libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import *
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error, mean_squared_log_error
# calculate mean_squared_error
import sklearn.metrics as metrics
from sklearn.metrics import mean_squared_error

> **1. Introduction**

**Objective**

This dataset contains the information about the movies . For a movie to be commercial success , it depends on various factors like director, actors ,critic reviews and viewers reaction. Imdb score is one of the important factor to measure the movie's success.

**Description of dataset attributes**

Please find the details for the datset attributes:-

1. Color :- Movie is black or coloured
2. Director_name:- Name of the movie director
3. num_critic_for_reviews :- No of critics for the movie
4. duration:- movie duration in minutes
5. director_facebook_likes:-Number of likes for the Director on his Facebook Page
6. actor_3_facebook_likes:- No of likes for the actor 3 on his/her facebook Page
7. actor2_name:- name of the actor 2
8. actor_1_facebook_likes:- No of likes for the actor 1 on his/her facebook Page
9. gross:- Gross earnings of the movie in Dollars
10. genres:- Film categorization like ‘Animation’, ‘Comedy’, ‘Romance’, ‘Horror’, ‘Sci-Fi’, ‘Action’, ‘Family’
11. actor_1_name:- Name of the actor 1
12. movie_title:-Title of the movie
13. num_voted_users:-No of people who voted for the movie
14. cast_total_facebook_likes:- Total facebook like for the movie
15. actor_3_name:- Name of the actor 3
16. facenumber_in_poster:- No of actors who featured in the movie poster
17. plot_keywords:-Keywords describing the movie plots
18. movie_imdb_link:-Link of the movie link
19. num_user_for_reviews:- Number of users who gave a review
20. language:- Language of the movie 
21. country:- Country where movie is produced
22. content_rating:- Content rating of the movie
23. budget:- Budget of the movie in Dollars
24. title_year:- The year in which the movie is released
25. actor_2_facebook_likes:- facebook likes for the actor 2
26. imdb_score:- IMDB score of the movie
27. aspect_ratio :- Aspect ratio the movie was made in
28. movie_facebook_likes:- Total no of facebook likes for the movie

**Case Study**


The dataset here gives the massive information about the movies and their IMDB scores respectively. We are going to analyze each and every factors which can influence the imdb ratings so that we can predict better results.The movie with the higher imdb score is more successful as compared to the movies with low imdb score.

**2. Data Preprocessing**

In [47]:
#Reading the Data 

data=pd.read_csv("movie_metadata.csv")

In [48]:
#Displaying the first 10 records

data.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [49]:
#Shape of the dataset (no of rows and no of columns)

data.shape

(5043, 28)

In [50]:
#Displaying the data type of the dataset attributes 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [51]:
#Five point summary for the numerical columns in the dataset

data.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4993.0,1.401943e+02,1.216017e+02,1.00,50.00,110.00,195.00,8.130000e+02
duration,5028.0,1.072011e+02,2.519744e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4939.0,6.865092e+02,2.813329e+03,0.00,7.00,49.00,194.50,2.300000e+04
actor_3_facebook_likes,5020.0,6.450098e+02,1.665042e+03,0.00,133.00,371.50,636.00,2.300000e+04
actor_1_facebook_likes,5036.0,6.560047e+03,1.502076e+04,0.00,614.00,988.00,11000.00,6.400000e+05
gross,4159.0,4.846841e+07,6.845299e+07,162.00,5340987.50,25517500.00,62309437.50,7.605058e+08
num_voted_users,5043.0,8.366816e+04,1.384853e+05,5.00,8593.50,34359.00,96309.00,1.689764e+06
cast_total_facebook_likes,5043.0,9.699064e+03,1.816380e+04,0.00,1411.00,3090.00,13756.50,6.567300e+05
facenumber_in_poster,5030.0,1.371173e+00,2.013576e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,5022.0,2.727708e+02,3.779829e+02,1.00,65.00,156.00,326.00,5.060000e+03
budget,4551.0,3.975262e+07,2.061149e+08,218.00,6000000.00,20000000.00,45000000.00,1.221550e+10
title_year,4935.0,2.002471e+03,1.247460e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,5030.0,1.651754e+03,4.042439e+03,0.00,281.00,595.00,918.00,1.370000e+05
imdb_score,5043.0,6.442138e+00,1.125116e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4714.0,2.220403e+00,1.385113e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,5043.0,7.525965e+03,1.932045e+04,0.00,0.00,166.00,3000.00,3.490000e+05

In [52]:
#Dropping the Imdb link from the dataset

data.drop('movie_imdb_link', axis=1, inplace=True)

In [53]:
#Removing the color section as most of the movies is colored

data["color"].value_counts()

data.drop('color',axis=1,inplace=True)

In [54]:
#Checking for the columns present in the datset
data.columns

Index(['director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [55]:
#No of the missing values in the dataset

data.isna().sum()

director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [56]:
# split numerical variables
num=data.select_dtypes(exclude=object).columns
num

Index(['num_critic_for_reviews', 'duration', 'director_facebook_likes',
       'actor_3_facebook_likes', 'actor_1_facebook_likes', 'gross',
       'num_voted_users', 'cast_total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio',
       'movie_facebook_likes'],
      dtype='object')

In [57]:
# split categorical variables
cat=data.select_dtypes(include=object).columns
cat

Index(['director_name', 'actor_2_name', 'genres', 'actor_1_name',
       'movie_title', 'actor_3_name', 'plot_keywords', 'language', 'country',
       'content_rating'],
      dtype='object')

In [58]:
# NA imputation
for i in num:
    if (data[i].skew()<-1 or data[i].skew()>1):
      data[i]=data[i].replace(np.NaN,data[i].median())
    else:
      data[i]=data[i].replace(np.NaN,data[i].mean())
    print(data[i])  
data[cat]=data[cat].fillna(data.mode().iloc[0])
print(data[cat])

0       723.0
1       302.0
2       602.0
3       813.0
4       110.0
        ...
5038      1.0
5039     43.0
5040     13.0
5041     14.0
5042     43.0
Name: num_critic_for_reviews, Length: 5043, dtype: float64
0       178.0
1       169.0
2       148.0
3       164.0
4       103.0
        ...
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64
0           0.0
1         563.0
2           0.0
3       22000.0
4         131.0
         ...
5038        2.0
5039       49.0
5040        0.0
5041        0.0
5042       16.0
Name: director_facebook_likes, Length: 5043, dtype: float64
0         855.0
1        1000.0
2         161.0
3       23000.0
4         371.5
         ...
5038      318.0
5039      319.0
5040        0.0
5041      489.0
5042       16.0
Name: actor_3_facebook_likes, Length: 5043, dtype: float64
0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
5038      637.0
5039      841.0
5040        0.0
5041      946.0
5042       86.0
Name: actor_1_facebook_likes, Length: 5043, dtype: float64
0       760505847.0
1       309404152.0
2       200074175.0
3       448130642.0
4        25517500.0
           ...
5038     25517500.0
5039     25517500.0
5040     25517500.0
5041        10443.0
5042        85222.0
Name: gross, Length: 5043, dtype: float64
0        886204
1        471220
2        275868
3       1144337
4             8
         ...
5038        629
5039      73839
5040         38
5041       1255
5042       4285
Name: num_voted_users, Length: 5043, dtype: int64
0         4834
1        48350
2        11700
3       106759
4          143
         ...
5038      2283
5039      1753
5040         0
5041      2386
5042       163
Name: cast_total_facebook_likes, Length: 5043, dtype: int64
0       0.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
5038    2.0
5039    1.0
5040    0.0
5041    5.0
5042    0.0
Name: facenumber_in_poster, Length: 5043, dtype: float64
0       3054.0
1       1238.0
2        994.0
3       2701.0
4        156.0
         ...
5038       6.0
5039     359.0
5040       3.0
5041       9.0
5042      84.0
Name: num_user_for_reviews, Length: 5043, dtype: float64
0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4        20000000.0
           ...
5038     20000000.0
5039     20000000.0
5040         1400.0
5041     20000000.0
5042         1100.0
Name: budget, Length: 5043, dtype: float64
0       2009.0
1       2007.0
2       2015.0
3       2012.0
4       2005.0
         ...
5038    2013.0
5039    2005.0
5040    2013.0
5041    2012.0
5042    2004.0
Name: title_year, Length: 5043, dtype: float64
0         936.0
1        5000.0
2         393.0
3       23000.0
4          12.0
         ...
5038      470.0
5039      593.0
5040        0.0
5041      719.0
5042       23.0
Name: actor_2_facebook_likes, Length: 5043, dtype: float64
0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
5038    7.7
5039    7.5
5040    6.3
5041    6.3
5042    6.6
Name: imdb_score, Length: 5043, dtype: float64
0        1.78
1        2.35
2        2.35
3        2.35
4        2.35
        ...
5038     2.35
5039    16.00
5040     2.35
5041     2.35
5042     1.85
Name: aspect_ratio, Length: 5043, dtype: float64
0        33000
1            0
2        85000
3       164000
4            0
         ...
5038        84
5039     32000
5040        16
5041       660
5042       456
Name: movie_facebook_likes, Length: 5043, dtype: int64
          director_name      actor_2_name                           genres  \
0         James Cameron  Joel David Moore  Action|Adventure|Fantasy|Sci-Fi
1        Gore Verbinski     Orlando Bloom         Action|Adventure|Fantasy
2            Sam Mendes      Rory Kinnear        Action|Adventure|Thriller
3     Christopher Nolan    Christian Bale                  Action|Thriller
4           Doug Walker        Rob Walker                      Documentary
...                 ...               ...                              ...
5038        Scott Smith     Daphne Zuniga                     Comedy|Drama
5039   Steven Spielberg     Valorie Curry     Crime|Drama|Mystery|Thriller
5040   Benjamin Roberds     Maxwell Moody            Drama|Horror|Thriller
5041        Daniel Hsia     Daniel Henney             Comedy|Drama|Romance
5042           Jon Gunn  Brian Herzlinger                      Documentary

         actor_1_name                                        movie_title  \
0         CCH Pounder                                            Avatar
1         Johnny Depp          Pirates of the Caribbean: At World's End
2     Christoph Waltz                                           Spectre
3           Tom Hardy                             The Dark Knight Rises
4         Doug Walker  Star Wars: Episode VII - The Force Awakens    ...
...               ...                                                ...
5038      Eric Mabius                           Signed Sealed Delivered
5039      Natalie Zea                         The Following
5040      Eva Boehnke                              A Plague So Pleasant
5041        Alan Ruck                                  Shanghai Calling
5042      John August                                 My Date with Drew

              actor_3_name                                      plot_keywords  \
0                Wes Studi             avatar|future|marine|native|paraplegic
1           Jack Davenport  goddess|marriage ceremony|marriage proposal|pi...
2         Stephanie Sigman                bomb|espionage|sequel|spy|terrorist
3     Joseph Gordon-Levitt  deception|imprisonment|lawlessness|police offi...
4           Ben Mendelsohn                                     based on novel
...                    ...                                                ...
5038          Crystal Lowe             fraud|postal worker|prison|theft|trial
5039         Sam Underwood       cult|fbi|hideout|prison escape|serial killer
5040        David Chandler                                     based on novel
5041           Eliza Coupe                                     based on novel
5042              Jon Gunn  actress name in title|crush|date|four word tit...

     language country content_rating
0     English     USA          PG-13
1     English     USA          PG-13
2     English      UK          PG-13
3     English     USA          PG-13
4     English     USA              R
...       ...     ...            ...
5038  English  Canada              R
5039  English     USA          TV-14
5040  English     USA              R
5041  English     USA          PG-13
5042  English     USA             PG

[5043 rows x 10 columns]

In [59]:
# Recheck that all the null values are removed
data.isna().sum()

director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [60]:
#Removing the duplicate values in the datset

data.drop_duplicates(inplace=True)
data.shape

(4998, 26)

In [61]:
#Count of the language values 
data["language"].value_counts()

English       4674
French          73
Spanish         40
Hindi           28
Mandarin        24
German          19
Japanese        17
Cantonese       11
Russian         11
Italian         11
Portuguese       8
Korean           8
Arabic           5
Danish           5
Hebrew           5
Swedish          5
Polish           4
Norwegian        4
Persian          4
Dutch            4
Thai             3
Chinese          3
Icelandic        2
None             2
Indonesian       2
Aboriginal       2
Romanian         2
Dari             2
Zulu             2
Panjabi          1
Urdu             1
Vietnamese       1
Slovenian        1
Greek            1
Dzongkha         1
Tamil            1
Telugu           1
Kannada          1
Czech            1
Hungarian        1
Bosnian          1
Filipino         1
Mongolian        1
Maya             1
Aramaic          1
Kazakh           1
Swahili          1
Name: language, dtype: int64

In [62]:
#Most of the values for the languages is english we can drop the english column

data.drop('language',axis=1,inplace=True)

In [63]:
#Value counts for the countries 
data.country.value_counts()

USA              3778
UK                443
France            154
Canada            124
Germany            96
                 ...
Slovakia            1
Chile               1
Cambodia            1
Official site       1
Philippines         1
Name: country, Length: 65, dtype: int64

In [64]:
value_counts=data["country"].value_counts()
print(value_counts)

USA              3778
UK                443
France            154
Canada            124
Germany            96
                 ...
Slovakia            1
Chile               1
Cambodia            1
Official site       1
Philippines         1
Name: country, Length: 65, dtype: int64

In [65]:
vals = value_counts[:2].index
print (vals)

Index(['USA', 'UK'], dtype='object')

In [66]:
##get top 2 values of index
data['country'] = data.country.where(data.country.isin(vals), 'other')

In [67]:
#Successfully divided the country into three catogories 
data["country"].value_counts()

USA      3778
other     777
UK        443
Name: country, dtype: int64

In [68]:
data.head(10)

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,...,plot_keywords,num_user_for_reviews,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,avatar|future|marine|native|paraplegic,3054.0,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,...,goddess|marriage ceremony|marriage proposal|pi...,1238.0,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,...,bomb|espionage|sequel|spy|terrorist,994.0,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,...,deception|imprisonment|lawlessness|police offi...,2701.0,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Doug Walker,110.0,103.0,131.0,371.5,Rob Walker,131.0,25517500.0,Documentary,Doug Walker,...,based on novel,156.0,USA,R,20000000.0,2005.0,12.0,7.1,2.35,0
5,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,...,alien|american civil war|male nipple|mars|prin...,738.0,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,J.K. Simmons,...,sandman|spider man|symbiote|venom|villain,1902.0,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,...,17th century|based on fairy tale|disney|flower...,387.0,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,...,artificial intelligence|based on comic book|ca...,1117.0,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,...,blood|book|love|potion|professor,973.0,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [69]:
#Removing the director name column
data.drop('director_name', axis=1, inplace=True)

In [70]:
#Removing the actor1 ,actor 2 and actor 3 names 

data.drop('actor_1_name',axis=1,inplace=True)
data.drop('actor_2_name',axis=1,inplace=True)
data.drop('actor_3_name',axis=1,inplace=True)

#Dropping the movie title 
data.drop('movie_title',axis=1,inplace=True)

# Dropping the plot keywords
data.drop('plot_keywords',axis=1,inplace=True)

In [71]:
#Value count of genres

data['genres'].value_counts()

Drama                                         235
Comedy                                        205
Comedy|Drama                                  189
Comedy|Drama|Romance                          187
Comedy|Romance                                158
                                             ...
Action|Crime|Drama|Mystery|Sci-Fi|Thriller      1
Action|Drama|Fantasy|Horror|Thriller            1
Action|Thriller|Western                         1
Action|Adventure|Drama|Family                   1
Comedy|Crime|Horror                             1
Name: genres, Length: 914, dtype: int64

In [72]:
#Most of the values are equally distributed in genres column ,so we can remove the genres column

data.drop('genres',axis=1,inplace =True)

In [73]:
#Adding the facebook likes of actor 2 and actor 3 together 
data['Other_actor_facebbok_likes']=data["actor_2_facebook_likes"] + data['actor_3_facebook_likes']

In [74]:
#Dropping the actor 2 and actor 3 facebook likes columns as they have been added together 

data.drop('actor_2_facebook_likes',axis=1,inplace=True)
data.drop('actor_3_facebook_likes',axis=1,inplace=True)
data.drop('cast_total_facebook_likes',axis=1,inplace=True)

In [75]:
#Ratio of the ratio of num_user_for_reviews and num_critic_for_reviews.

data['critic_review_ratio']=data['num_critic_for_reviews']/data['num_user_for_reviews']

In [76]:
#Dropping the num_critic_for_review

data.drop('num_critic_for_reviews',axis=1,inplace=True)
data.drop('num_user_for_reviews',axis=1,inplace=True)

In [77]:
# We need to categorize the imdb values in the range of 0-4,4-6,6-8 and 8-10 to mark them as the bad,average,good and excellent movies respectively

data["imdb_binned_score"]=pd.cut(data['imdb_score'], bins=[0,4,6,8,10], right=True, labels=False)+1

In [78]:
#Dropping the imdb_score column as it is being replaced with the imdb_binned_score values 
data.drop('imdb_score',axis=1,inplace=True)

In [79]:
data.head(5)

,duration,director_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,facenumber_in_poster,country,content_rating,budget,title_year,aspect_ratio,movie_facebook_likes,Other_actor_facebbok_likes,critic_review_ratio,imdb_binned_score
0,178.0,0.0,1000.0,760505847.0,886204,0.0,USA,PG-13,237000000.0,2009.0,1.78,33000,1791.0,0.236739,3
1,169.0,563.0,40000.0,309404152.0,471220,0.0,USA,PG-13,300000000.0,2007.0,2.35,0,6000.0,0.243942,3
2,148.0,0.0,11000.0,200074175.0,275868,1.0,UK,PG-13,245000000.0,2015.0,2.35,85000,554.0,0.605634,3
3,164.0,22000.0,27000.0,448130642.0,1144337,0.0,USA,PG-13,250000000.0,2012.0,2.35,164000,46000.0,0.301000,4
4,103.0,131.0,131.0,25517500.0,8,0.0,USA,R,20000000.0,2005.0,2.35,0,383.5,0.705128,3

**3. Handling the categorical data**

In [80]:
data = pd.get_dummies(data = data, columns = ['country'] , prefix = ['country'] , drop_first = True)
data = pd.get_dummies(data = data, columns = ['content_rating'] , prefix = ['content_rating'] , drop_first = True)

In [81]:
data.shape

(4998, 32)

In [82]:
from sklearn.feature_selection import SelectKBest,mutual_info_regression
x=data.loc[:,data.columns!='gross']
y=data['gross']
mic = SelectKBest(score_func=mutual_info_regression,k=5)
mic.fit(x,y)
feature_mi_score = pd.Series(mic.scores_,index=x.columns)
feature_mi_score.sort_values(ascending=False)
# result = mic.fit_transform(x,y)
# result

num_voted_users               0.427256
budget                        0.332323
movie_facebook_likes          0.162010
critic_review_ratio           0.136629
Other_actor_facebbok_likes    0.110692
actor_1_facebook_likes        0.103634
title_year                    0.094483
duration                      0.093750
director_facebook_likes       0.074128
content_rating_PG-13          0.059097
aspect_ratio                  0.056810
imdb_binned_score             0.050169
country_other                 0.049837
country_USA                   0.045453
content_rating_R              0.044940
content_rating_Not Rated      0.024603
facenumber_in_poster          0.021636
content_rating_PG             0.016077
content_rating_TV-14          0.012459
content_rating_Unrated        0.009728
content_rating_TV-Y7          0.009697
content_rating_GP             0.007682
content_rating_TV-G           0.006882
content_rating_NC-17          0.005934
content_rating_TV-Y           0.003655
content_rating_TV-MA          0.002930
content_rating_TV-PG          0.001350
content_rating_X              0.001310
content_rating_Passed         0.000000
content_rating_M              0.000000
content_rating_G              0.000000
dtype: float64

**4. Splitting the data into training and test data**

In [83]:
X=pd.DataFrame(columns=['num_voted_users','budget','movie_facebook_likes','critic_review_ratio','Other_actor_facebbok_likes','actor_1_facebook_likes','duration','title_year'],data=data)
y=pd.DataFrame(columns=['gross'],data=data)

X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=100)

**6. Linear Model Selection**

In [84]:
#model 
reg_lin1 = LinearRegression()
reg_lin1.fit(X_train,y_train)
lin_pred1 = reg_lin1.predict(X_test)
men=mean_squared_log_error(lin_pred1,y_test)
mapps=mean_absolute_percentage_error(lin_pred1, y_test)
accuracy=100-mapps
print('error:',"%.2f" % mapps ,'%')
print('Accuracy:',"%.2f" % accuracy, '%') 
print('error:', "%.2f" % men, '%')
print('root mean squared error:',"%.2f" % np.sqrt(mapps),'%')

error: 0.66 %
Accuracy: 99.34 %
error: 4.53 %
root mean squared error: 0.81 %

In [85]:
import pickle
# open a file, where you ant to store the data
file = open('model.pkl', 'wb')

# dump information to that file
pickle.dump(reg_lin1, file)

In [86]:
# import pickle
# pickle.dump(reg_lin1,open("linearmodel.pkl","wb"))
pickled_model=pickle.load(open('model.pkl','rb'))
pickled_model

LinearRegression()

**Conclusion**

The conclusion is that Random Forest Algorithm accuracy of 99%